
<ul>
<% @ideas.each do |idea| %>
  <li>
    <%= idea.description %>
    <%= link_to image_tag('trash-can-icon.jpg', size: '20x20'), idea, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to image_tag('pencil.png', size: '20x20'), edit_idea_path(idea) %>
  </li>
<% end %>
</ul>


<br />

<%= render 'form' %>





